colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
filelock==3.32.2
fonttools==4.63.0
fsspec==2026.7.0
ImageIO==2.37.4
Jinja2==3.1.6
kiwisolver==1.5.0
lazy-loader==0.5
MarkupSafe==3.0.3
matplotlib==3.11.1
mpmath==1.3.0
networkx==3.6.1
numpy==2.5.1
packaging==26.2
pillow==12.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
scikit-image==0.26.0
scipy==1.18.0
setuptools==83.0.0
six==1.17.0
sympy==1.14.0
tifffile==2026.7.31
torch==2.13.0
torchvision==0.28.0
tqdm==4.70.0
typing_extensions==4.16.0